<div id="navbar-wrapper" style="position: fixed;" >
    <nav class="navbar navbar-inverse" style="color:rgb(10, 17, 118);">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand"><b>IIITA ATTENDENCE MANAGEMENT SYSTEM</b></a>
            </div>
        </div>
    </nav>
</div>